@import "tailwindcss";

@theme {
    --color-primary: #62be63;
    --color-accent: #212234;
    --color-white: #fff;
    --color-text: #484e48;
    --color-bg: #e0e8e154;
    --color-border: #dedfe7;
    --color-red: #c10007;

    /*font*/
    --text-tiny: 0.875rem;
    --text-tiny--line-height: 1.5rem;

    /*Drop Shadow*/
    --drop-shadow-sm: 0 8px 20px 8px #21223308;;
}

body {
    margin: 0;
    font: 14px/1.5 'IBM Plex Sans', serif;
    color: var(--color-text)
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a {
    font-weight: 600;
    cursor: pointer;
}


input:not([type="radio"]):not([type="checkbox"]) {
    padding: 8px 16px;
    margin: 4px 0;
    border: 1px solid var(--color-border);
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

header {
    border-bottom: 1px solid var(--color-border);
}

.profile-menu a {
    color: var(--color-text);
    font-weight: var(--text-tiny);
}
.profile-menu a:hover {
    color: var(--color-primary);
}

button {
    cursor: pointer;
}
