@import "tailwindcss";

@theme {
    --color-primary: #62be63;
    --color-accent: #212234;
    --color-white: #fff;

    /*font*/
    --text-tiny: 0.875rem;
    --text-tiny--line-height: 1.5rem;

    /*Drop Shadow*/
    --drop-shadow-sm: 0 8px 20px 8px #21223308;;
}

body {
    margin: 0;
    font: 1rem/1.5 'IBM Plex Sans', serif;
}
a{
    color: var(--color-primary);
    text-decoration: none;
}
a:hover{
    opacity: 0.9;
}

a {
    font-weight: 600;
    cursor: pointer;
}